---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Carousel from "../components/Carousel.astro";
import Scripts from "../components/Scripts.astro";
import Brands from "../components/Brands.astro";
import BestSellers from "../components/BestSellers.astro";
---

<html lang="en">
  <Head />
  <body class="box-border overflow-x-hidden">
    <Header />
    <Hero />
    <Carousel />
    <Brands />
    <BestSellers />
    <Scripts />
  </body>
</html>
