---
import Item from './Item.astro'
---

<section class="max-w-screen-2xl mx-auto px-10 lg:flex-row py-3">
  <h2 class="mx-auto font-semibold text-2xl text-center mb-6">Best sellers</h2>
    <div class="grid grid-cols-4 gap-4">

      <Item brand="Cherry" title="Keyboard" price="price" src="https://res.cloudinary.com/kineticlabs/image/upload/q_auto/c_fit,w_590/f_auto/v1/api-images/products/gecko-silent-linear/gecko-silent-linear-switches_bvfxeo"/>
      <Item brand="Cherry" title="Keyboard" price="price" src="https://res.cloudinary.com/kineticlabs/image/upload/q_auto/c_fit,w_590/f_auto/v1/api-images/products/gecko-silent-linear/gecko-silent-linear-switches_bvfxeo"/>

      <Item brand="Cherry" title="Keyboard" price="price" src="https://res.cloudinary.com/kineticlabs/image/upload/q_auto/c_fit,w_590/f_auto/v1/api-images/products/gecko-silent-linear/gecko-silent-linear-switches_bvfxeo"/>

      <Item brand="Cherry" title="Keyboard" price="price" src="https://res.cloudinary.com/kineticlabs/image/upload/q_auto/c_fit,w_590/f_auto/v1/api-images/products/gecko-silent-linear/gecko-silent-linear-switches_bvfxeo"/>

    </div>
</section>