<section class="max-w-screen-2xl mx-auto px-10 py-6 lg:flex-row items-center">
  <h2 class="mx-auto font-semibold text-2xl text-center mt-5 mb-1">Brands</h2>
  <ul class="flex items-center justify-evenly">
    <li><img src="https://www.keychron.com/cdn/shop/files/keychron-logo-transparent-1_e481c26f-93a1-4c14-80c9-4d80ad096f3a.png?v=1614760292&width=600" alt="keychron" width="140"></li>
    <li><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/Logitech_logo.svg/1200px-Logitech_logo.svg.png" alt="logitech" width="100"></li>
    <li><img src="https://getvectorlogo.com/wp-content/uploads/2020/06/krytox-vector-logo.png" alt="krytox" width="120"></li>
    <li><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Cherry_logo_2012.svg/2560px-Cherry_logo_2012.svg.png" alt="cherry" width="130"></li>
    <li><img src="https://seeklogo.com/images/D/durock-logo-C85BA8F547-seeklogo.com.png" alt="durok" width="120"></li>
    <li><img src="https://mechanicalkeyboards.com/cdn/shop/collections/KBDFans-wlogo-5YC61.png?v=1703469802" alt="durok" width="140"></li>
  </ul>
</section>
