<section class="max-w-screen-2xl mx-auto px-10 py-6  flex flex-col lg:flex-row items-center ">
  <div class="col my-5">
    <h2 class="text-5xl font-semibold">
      The best mechanical keyboards
      <span class="animation">for you.</span>
    </h2>
  </div>
  <div class="col "><img src="/hero-img.png" alt="hero img" width="1000px" /></div>
</section>
<section>
  
</section>
<style>
  .animation {
    background: linear-gradient(90deg, #007dcc, #4800ff, #ce5bce, #007dcc) 0 0/200%
      100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: titleAnimation-r1kccbos 5s infinite linear;
    animation: titleAnimation-r1kccbos 5s infinite linear;
  }
</style>
